body{
    font-family: Roboto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container{
    color: white;
    background-color: #1F2937;
    padding: 1% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    font-weight: bold;
}

.a-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

a{
    color: white;
    font-weight: 300;
    text-decoration: none;
}